.contenidoo {
  display: grid;
  gap: 5rem;
  align-items: flex-start;
}
@media (min-width: 768px) {
  .contenidoo {
    grid-template-columns: 3fr 2fr;
  }
}
.fav-container {
  padding: 3rem;
}
.dentist {
  display: grid;
  grid-template-columns: 3fr;
  gap: 4rem;
  align-items: center;
  padding: 3rem 0;

  position: relative;
}

.dentist p {
  margin: 0 0 1rem 0;
}
.select {
  all: unset;
  border: 2px solid #0b0000;
  text-align: center;
  width: 100%;
  padding: 0.5rem;
  border-radius: 1rem;
}
.dentist span {
  font-weight: 900;
  font-size: 3.2rem;
}
.nombre {
  font-weight: 700;
  font-size: 4.2rem;
}
.dentist .precio {
  font-weight: 700;
  color: var(--primary);
  margin-top: 2rem;
}
.subtotal {
  font-size: 2.2rem;
}
.resumen {
  background-color: #d1d5d8;
  padding: 3rem;
  border-radius: 1rem;
  position: sticky;
  top: 3rem;
}
.btn_eliminar {
  all: unset;
  position: absolute;
  top: 3rem;
  right: 1rem;
  font-weight: 900;
}
.btn_eliminar:hover {
  cursor: pointer;
}
