.footer {
  margin-top: 5rem;
  bottom: 16px;
  text-align: center;
  align-items: center;
  background: rgba(6, 13, 21, 0.7);
  padding: 8px 24px;
  border-radius: 32px;
  opacity: 0.95;
  backdrop-filter: blur(8px);
  width: 100%;
  display: flex;
  flex-direction: column;
  color: #e99401;
}
.footer-dark {
  margin-top: 5rem;
  bottom: 16px;
  text-align: center;
  align-items: center;
  background: rgba(248, 249, 250, 0.7);
  padding: 8px 24px;
  border-radius: 32px;
  opacity: 0.95;
  backdrop-filter: blur(8px);
  width: 100%;
  display: flex;
  flex-direction: column;
}
.footer a {
  text-decoration: none;
}
.footer-dark a {
  text-decoration: none;
}

.footer a span {
  font-size: 14px;
  color: #09f;
  opacity: 0.8;
}
.footer-dark span {
  font-size: 14px;
  color: #09f;
  opacity: 0.8;
}

.footer h4,
.footer h5 {
  margin: 0;
  display: flex;
}

.footer-dark h4,
.footer-dark h5 {
  margin: 0;
  display: flex;
}
